.u-section-1 .u-sheet-1 {
  min-height: 524px;
}

.u-section-1 .u-image-1 {
  width: 482px;
  height: 300px;
  margin: 55px auto 0 17px;
}

.u-section-1 .u-text-1 {
  margin: -300px 135px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 1px 175px 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -212px;
    margin-right: 85px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 110px;
  }
}